* {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
}

nav {
    height: fit-content;
    margin-top: 15px;
    margin-left: 5px;
}

a {
    text-decoration: none;
    background-color: #FF551F;
    color: azure;
    padding: 12px;
}

.actual {
    background-color: #ff835d;
}

form {
    background-color: #ff835d;
    width: 450px;
    margin-left: 250px;
    padding: 20px;
}

.in {
    margin: 10px 0;
    display: block;
}